<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Web Service Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Webservice</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="starter-template text-center col-sm-4 col-sm-offset-4">
				<h1>Login</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
			<form action="login.do" method="POST">
				<div class="form-group col-sm-12">
					<label for="username">Username</label>
					<input id="username" name="username" class="form-control" type="text"/>
				</div>
				<div class="form-group col-sm-12">
					<label for="password">Password</label>
					<input id="password" name="password" class="form-control" type="password"/>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</form>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>